/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Bruno Ace SC", cursive;
  line-height: 1.5;
}

button {
  font-family: "Bruno Ace SC", cursive;
}

ul, li {
  margin: 0;
}

img, svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  color: #00FFA3;
  cursor: pointer;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 40px;
}

.fs-slogan {
  font-size: 56px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
  line-height: 36px;
}

.fs-3 {
  font-size: 20px;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #fff;
}

.bg-gradient {
  background-image: linear-gradient(#050014, #01021E);
}

.text-primary {
  color: #00FFA3;
}

.text-white {
  color: #fff;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-162 {
  width: 162px;
}

.w-178 {
  width: 178px;
}

.w-306 {
  width: 306px;
}

.w-526 {
  width: 526px;
}

.w-636 {
  width: 636px;
}

.w-746 {
  width: 746px;
}

.p-16 {
  padding: 16px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.ms-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ms-4 {
  margin-left: 4px;
}

.ms-16 {
  margin-left: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.me-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 26px;
}

.border-0 {
  border: none;
}

.border-1 {
  border: 0.5px solid #dcdcdc;
}

.rounded-32 {
  border-radius: 32px;
}

.intro {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
  background-position: center;
}/*# sourceMappingURL=all.css.map */