*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: 'Bruno Ace SC', cursive;
  line-height: 1.5;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
}

img, svg{
  vertical-align: middle;
}

a{
  text-decoration: none;

  &:hover{
    color: $primary;
    cursor: pointer;
  }
}

.h1{
  font-size: 128px;
}

.h2{
  font-size: 40px;
}

.fs-slogan{
  font-size: 56px;
}

.fs-1{
  font-size: 32px;
}

.fs-2{
  font-size: 24px;
}

.fs-3{
  font-size: 20px;
}

.bg-black{
  background: $black;
}

.bg-white{
  background: $white;
}

.text-primary{
  color: $primary;
}

.text-white{
  color: $white;
}

.d-flex{
  display: flex;
}

.d-block{
  display: block;
}

.d-inline-block{
  display: inline-block;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: right;
}

.w-306{
  width: 306px;
}

.w-636{
  width: 636px;
}

.py-12{
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-24{
  padding-left: 24px;
  padding-right: 24px;
}

.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-40{
  padding-top: 40px;
}

.py-72{
  padding-top: 72px;
  padding-bottom: 72px;
}

.ms-auto{
  margin-left: auto;
}

.ms-4{
  margin-left: 4px;
}

.rounded-32{
  border-radius: 32px;
}

.border-0{
  border: none;
}